{% extends 'base.html' %}
{% block content %}
<div>
    <center><h3 class='alert alert-success' style="margin-bottom:0px;">About Us !</h3></center><br>
    <center>
    <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
        
        <p class="lead">Welcome to SRI DURGA MALLESWARA SIDDHARTHA MAHILA KALASALA, a sophisticated solution crafted to redefine the way colleges manage their administrative processes. At SRI DURGA MALLESWARA SIDDHARTHA MAHILA KALASALA, we are dedicated to providing an advanced platform that not only meets the intricate demands of higher education but also fosters a culture of efficiency, collaboration, and excellence.</p>
        <h5>Join Us in Shaping the Future of Higher Education </h5>
        <p class="lead">SRI DURGA MALLESWARA SIDDHARTHA MAHILA KALASALA invites you to join us on a journey of innovation and transformation in higher education administration. Together, let's propel your institution towards a future where efficiency, collaboration, and excellence are the cornerstones of success.</p>
        <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size:large;">SRI DURGA MALLESWARA SIDDHARTHA MAHILA KALASALA - Elevating Higher Education, Empowering Institutions.</p>
        <hr class="my-4">
        <p>Explore our Website.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
        </p>
      </div>
    </center>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    /*---------------------------------------
   Social section
-----------------------------------------*/
    footer {
      padding: 0px 0px 0px 0px;
      background-color: black;
      margin: 0px;
    }

    .fa {
      padding: 20px;
      font-size: 23px;
      width: 60px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      border-radius: 50%;
    }

    .fa:hover {
      opacity: 0.5;
      text-decoration: none;
    }

    .fa-facebook {
      background: #3B5998;
      color: white;
      margin-top: 30px;
    }

    .fa-whatsapp {
      background: #25d366;
      color: white;
    }

    .fa-twitter {
      background: #55ACEE;
      color: white;
    }

    .fa-instagram {
      background: #125688;
      color: white;
    }

    p {
      text-align: center;

    }
  </style>
<footer>

    <p>
      <a href="https://facebook.com/siddharthamahila/" class="fa fa-facebook"></a>
      <a href="https://api.whatsapp.com/send?phone=0866 247 0912 &text=Hello%20Sdmsmk.%0d%0aHow%20are%20you%20%3f%0d%0aI%20came%20from%20your%20website.&source=&data=#" class="fa fa-whatsapp"></a>
      <a href="https://instagram.com/siddharthamahila" class="fa fa-instagram"></a>
      <a href="https://twitter.com/siddharthamahila" class="fa fa-twitter"></a>
    </p>
  
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div style="color:#ffffff;" class="wow fadeInUp footer-copyright">
            <p style="text-align: center; font-size: small;">Copyright ©2023 All rights reserved to Siddhartha Mahila Kalasala | Developed By Nohita and Rabiya</p>
  
          </div>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}